.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 208px;
    height: 46px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24 px;

}
.profile-name {
    margin: 0;
    padding: 0;
    margin-top: 2px ;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    color: #192A3E;
}
.profile-id {
    margin: 0;
    padding: 0;
    margin-top: 1px ;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    color: #90A0B7;
}
img{
    cursor: pointer;
}
