
.settingsDiv{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  left: 60px;
}
.settingsDiv :hover{
 color: black;
 cursor: pointer;
}
.logoutDiv{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  bottom: 0px;
  left: 55px;
}
.logoutDiv :hover{
  cursor: pointer;
}
.itemTitle{
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight:500;
  font-style: normal;
  letter-spacing: 0.01em;
  color: #334D6E;
  padding: 0;
  margin: 0;
  margin-left: 4px;
  transition: font-size 0.3s ;
}
.itemTitleHover{
  color: black;
  font-size: 15px;
  padding: 0;
  margin: 0;
  margin-left: 4px;
}
.container {
  display: flex;
  flex-direction: column ;
  margin-top: 10px;

}
.breakLine{
   border: 1px solid black;
}

