:root {
    --primary: #fff;
    --accentblue: #0A47C4;
  }

.sidenav {

    background-color: var(--primary);
    height: 580px;
    width: 240px;
    top: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.titleSideBar{
  font-family: 'Poppins', sans-serif;
  text-align: left;
  color: #0A47C4;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
